.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    
}
.nav li{
    list-style: none;
    margin-right: 30px;
}

.banner{
    max-width: 1920px;
    
    height: 1220px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.10);
    text-align: center;
}
.banner-title{
    padding-top: 100px;
    width: 862px;
    margin: 0 auto;
    color: var(--Dark-01, #131313);
text-align: center;
font-family: Work Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 25px;
}
.banner-sub-title{
    width: 868px;
    
    margin: 0 auto;
color: var(--Dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
/* margin-bottom: 146px; */
}
.btn-primary{
    width: 180px;
    margin-top: 30px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FF900E;
border: none;
color: white;
font-size: 15px;
font-weight: bold;
margin-bottom: 50px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-top: 100px;
}
.images{
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.quick{
    color: var(--Dark-03, #727272);

font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.our{
    color: var(--Dark-01, #131313);
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.feature{
    color: #FF900E;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.featured-sub-title{
    width: 537px;
color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}


@media screen and (max-width: 850px) {
    .nav li{
        list-style: none;
        margin-right: 4px;
    }
    
    .banner{
        width: 100%;
        height: 590px;
        padding: 20px;
        
    }
    .banner img{
        width: 100%;
    }
    .banner-title{
        padding-top: 40px;
        font-size: 34px;
        width: 100%;
    }
    .banner-sub-title{
        width: 100%;
    /* margin-bottom: 146px; */
    }
    .btn-primary{
        width: 120px;
    height: 44px;
    }

    .features{
        flex-direction: column;
        text-align: center;
        gap: 40px;
        
    }
    .images{
        padding: 20px;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        
    }
    .images img{
        width: 100%;
    }
    .featured-sub-title{
    width: 100%;
}
}